.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid; */
    max-width: 800px;
    padding: 0 var(--wrapper-padding);
}

.buttonsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 300px;
    /* justify-content:space-around; */
    /* border: 1px solid; */
}

.link{
    text-decoration: none;
    font-family: 'Saira Condensed';
    text-transform: capitalize
}
.back{
    /* width:  */
    /* border: 1px solid; */
    margin: 0
}

@media screen and (min-width:800px){
    .container{
       margin: 0 auto;
    }
}