.blogContainer{
    width: 60%;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box
}

.boldType{
    font-weight: 400;
    font-size: 28px;
    color: red
}

.paragraphs{
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
}

.images{
    width: 100%;
    height: 100%;
}
