.formContainer{
    /* border:1px solid; */
    width: 100%;
    max-width: 500px
}

.fieldset{
    padding-top: 0;
    /* padding-right: 0; */
    /* padding-left: 0; */
    border:1.5px solid var(--primary-color);
    font-family: var(--primaryFont);
    color: var(--primary-color);
    margin-bottom: 10px
}
.input{
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    background: transparent
}

.textarea{
    width: 100%;
    /* height: 25px; */
    outline: none;
    border: none;
    background: transparent
}

.buttonContainer{
    margin-top: 10px;
}