.projectsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border:1px solid; */
    padding: var(--wrapper-padding);
    max-width: 1000px;
    margin: 0 auto
}

.projectContainer{
    width: 100%;
    /* height: 18em; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    margin: 10px 0;
}
.thumbnail{
    width: 100%;
    background-color: red;
    height: 18em;
    margin: 0
}
.details{
text-decoration: none;
}
.thumbnail:nth-child(even){
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
}
.thumbnail:nth-child(odd){
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%); 
}



@media screen and (min-width:700px){

    .projectsContainer{
        /* flex-direction: row; */
        flex-flow: row wrap;
        justify-content: center;
        padding:1vw
    }
    .projectContainer{
        width: 40%;
        /* height: 13rem; */
        display: flex;
        justify-content: space-around;
        border: 1px solid black;
        text-decoration: none;
        margin: 2vw 3%
    }
}
