.resume_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid; */
    margin: 0 auto;
    max-width: 750px;
    padding: 0 var(--wrapper-padding);
}


.pdf{
    font-family: var(--secondaryFont)
}