html,body{
    /* background-color : beige; */
    font-family: 'Work Sans';
    box-sizing: border-box;
    padding:0;
    margin:0;

}
::-webkit-scrollbar {
    width: 0px;
  }
:root{
    /* --primary-color: #2b3252; */
    --primary-color:#031465;
    --primaryLight:#e24b3b;
    --secondary-color:#ef5455;
    --accent-color:#fad743;
    --background: '#bfc3e0';
    --background-light:'';
    --wrapper-padding: 4vw;
    --primaryFont: 'Lekton';
    --primaryFont-color:'';
    --secondaryFont:'Work Sans';
    --linkColor:'';
    --linkFont:var(--secondaryFont)
    /* --secondary-color:
    --secondaryLight: */
}
body{
    font-size: 106%;
}
li{
    margin-bottom: 5px;
}
h2,h3{
    /* opacity: .7; */
    font-family: var(--primaryFont);
 color: var(--primary-color)
}
h4{
    /* font-family: var(--primaryFont); */
    color:var(--primary-color)
}

h1{
    margin-top:.5em;
    color: var(--primary-color)
}
a{
    text-decoration: none;
    color: var(--linkColor);
}
a:hover{
    cursor: pointer;
}

p,li{
    color: var(--primary-color);
    line-height: 1.3em;
    font-weight: 200;
    font-family: var(--secondaryFont)
}

@media screen and (min-width:600px){
    body{
        font-size: 112%
    }
    
}
@media screen and (min-width:800px){
    body{
        font-size: 140%
    }
    :root{
        --wrapper-padding: 6vw;
    }
}
@media screen and (min-width:1200px){
    body{
        font-size: 156%
    }
    :root{
        --wrapper-padding: 6.5vw;
    }
}
@media screen and (min-width:1400px){
    body{
        font-size: 120%
    }
}

