html,body{
    background-color : beige;
    font-family: 'Oswald';
    box-sizing: border-box;
    padding:0;
    margin:0;

}
body{
    font-size: 106%;
}

@media screen and (min-width:600px){
    body{
        font-size: 112%
    }
}
@media screen and (min-width:800px){
    body{
        font-size: 140%
    }
}
@media screen and (min-width:1200px){
    body{
        font-size: 156%
    }
}
@media screen and (min-width:1400px){
    body{
        font-size: 120%
    }
}

