html,body{
    background-color : beige;
    font-family: 'Work Sans';
    box-sizing: border-box;
    padding:0;
    margin:0;

}
::-webkit-scrollbar {
    width: 0px;
  }
:root{
    --primary-color: #a93629e6;
    --primaryLight:#e24b3b;
    --background: beige;
    --wrapper-padding: 4vw;
    --primaryFont:'Work Sans';
    --secondaryFont:'';
    --linkColor:'';
    --linkFont:''
    /* --secondary-color:
    --secondaryLight: */
}
body{
    font-size: 106%;
}

@media screen and (min-width:600px){
    body{
        font-size: 112%
    }
    
}
@media screen and (min-width:800px){
    body{
        font-size: 140%
    }
    :root{
        --wrapper-padding: 6vw;
    }
}
@media screen and (min-width:1200px){
    body{
        font-size: 156%
    }
    :root{
        --wrapper-padding: 6.5vw;
    }
}
@media screen and (min-width:1400px){
    body{
        font-size: 120%
    }
}

