.buttonContainer{
    border: 2px solid;
    border-radius: 2px;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    box-sizing: content-box;
    width: 220px
}