.buttonContainer{
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    box-sizing: content-box;
    width: 220px;
    font-family: var(--secondaryFont);
    color:var(--secondary-color);
    transition: background-color .3s ease-in-out
}

.buttonContainer:hover{
    background-color: var(--primary-color);
}